{{extend 'layout.html'}}

<h2>{{=about}}</h2>

<p>E-Le@rning was designed for those who search for a rule-free knowledge. The main goal 
	of this project is to encourage a learning community, making E-Le@rning a rendez-vous
	point between people of many different cultures, and recreate the group study, in a 
	society that's become each day more self-centered.</p>
<p>Our philosophy is all about freedom. Freedom to post anything, create new categories as you wish, 
	help your friends improving their knowledge and find any issue of your interest, in 
	a perfect place for research and communication.</p>