{{left_sidebar_enabled=right_sidebar_enabled=False}}
{{extend 'layout.html'}}

<h2> {{=T('Welcome to E-Le@rning')}} </h2>

 <p>{{=T('E-Le@rning was designed for those who search for a rule-free knowledge. The main goal\
       of this project is to encourage a learning community, making E-Le@rning a rendez-vous\
       point between people of many different cultures, and recreate the group study, in a\
       society that is become each day more self-centered.')}}</p>
<p>{{=T('Our philosophy is all about freedom. Freedom to post anything, create new categories as you wish,\ 
    help your friends improving their knowledge and find any issue of your interest, in \
    a perfect place for research and communication.')}}</p>
    
  
    
<div align="center">
{{if len(records) == 0:}}
	<h5>{{=T('No Data')}}</h5>
{{else:}}

	<h3>{{=T('Latests News')}}</h3>
	 <table>
               
                    <tr>
                            <th>{{=T('Latests Users')}}</th>
					
                          
                    </tr>
              

			   {{for tupla in records:}}
                        <tr>
                           
                                <td>{{=tupla.first_name}} - <a href="{{= URL(request.application,'profile','view')}}/{{=tupla.id}}">{{=T('View')}}</a></td>
								<td>
                                        
                                </td>
                        </tr>
                        {{pass}}
                </table>
        {{pass}}
		
		
		
		
		<!--Posts-->
{{if len(posts) == 0:}}
	<h5>{{=T('No Data')}}</h5>
{{else:}}

		
		 <table>
               
                    <tr>
                            <th>{{=T('Latests Posts')}}</th>
					
                          
                    </tr>
              
			   {{for x in posts:}}
                        <tr>
                           
                                <td>{{=x.title}} - <a href="{{= URL(request.application,'posts','view')}}/{{=x.id}}">{{=T('View')}}</a></td>
								<td>
                                        
                                </td>
                        </tr>
                        {{pass}}
                </table>
        {{pass}}
 </div>
