{{extend 'layout.html'}}

<h2>{{=T('Profile')}}</h2>

		<table>
		<tr>
			
			<td>
				<img height="150" width="100" src="./../../default/download/{{=user.photo}}"></img>
				
				<td>
					
					
					
					
					<b>{{=db.auth_user.email.label}}</b>:{{=user.email}}<br/>
					<b>{{=db.auth_user.currentCity.label}}</b>:{{=user.currentCity}}<br/>
					<b>{{=db.auth_user.website.label}}</b>:{{=user.website}}<br/>
					<b>{{=db.auth_user.languages.label}}</b>:{{=user.languages}}<br/>
					<b>{{=db.auth_user.birthday.label}}</b>:{{=user.birthday}}<br/>
				</td>
				
			
				
			</td>
			
				
			
			<td><!-- Segunda parte -->
			<h2>Posts desse usuário</h2>
			
			</td>
		</tr>
		
		
		</table>
		<tr><b>{{=db.auth_user.first_name.label}}</b>: {{=user.first_name}}<br/></tr>
	   	<tr><b>{{=db.auth_user.last_name.label}}</b>:{{=user.last_name}}<br/></tr>
		<tr><b>{{=db.auth_user.aboutMe.label}}</b>: {{=user.aboutMe}}<br/> </tr>
		<tr><b>{{=db.auth_user.interestedIn.label}}</b>: {{=user.interestedIn}}<br/></tr>

    

