{{extend 'layout.html'}}
<h1>{{=T('Categories')}}</h1>

<div align="center">
{{if len(records) == 0:}}
	<h5>{{=T('No Data')}}</h5>
{{else:}}
	 <table>
               <thead>
                    <tr>
                            <th>{{=db.category.title.label}}</th>
                            <th>{{=db.category.About_this_category.label}}</th>
                            <th></th>
                    </tr>
               </thead>
			   {{for tupla in records:}}
                        <tr>
                                <td width="200px">{{=tupla.title}}</td>
                                <td width="400px" height="100px">{{=tupla.About_this_category}}</td>
                                <td>
                                        <a href="view/{{=tupla.id}}">{{=T('View')}}</a> 
                                        <a href="edit/{{=tupla.id}}">{{=T('Edit')}}</a>
                                </td>
                        </tr>
                        {{pass}}
                </table>
        {{pass}}
 </div>