{{extend 'layout.html'}}
<h1>{{=T('Posts')}}</h1>
<h1>{{=T('List All Posts')}}</h1>

<div align="center">
{{if len(records) == 0:}}
	<h5>{{=T('No Data')}}</h5>
{{else:}}
	 <table>
               <thead>
                    <tr>
                            <th>{{=db.post.title.label}}</th>
                            <th>{{=db.post.body.label}}</th>
                            <th></th>
                    </tr>
               </thead>
			   {{for tupla in records:}}
                        <tr>
                                <td width="50px" height="100px">{{=tupla.title}}</td>
								<td width="400px" height="100px">{{=tupla.body}}</td>
								<td>
                                        <a href="view/{{=tupla.id}}">{{=T('View')}}</a>
										<a href="edit/{{=tupla.id}}">{{=T('Edit')}}</a>  
                                </td>
                        </tr>
                        {{pass}}
                </table>
        {{pass}}
 </div>
